@using Viatecla.Factory.Scriptor
@{
  	string guidLayout="76BA62DA-ECA1-458C-AC75-A660EA4C74C7";
}
  <script>if (!window.addEventListener) { window.addEventListener = function (ev,cb) { window.attachEvent('on' + ev, cb); }; }</script>
@section Meta {
	<meta http-equiv="x-ua-compatible" content="IE=8,IE=9,IE=10,IE=11">
	<meta charset="utf-8" />
  	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
  	<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
}
@section Head {
  	<link rel="stylesheet" href="/bundles/5f9615e8d51557e5beb5b99cb4c3f03c/6eb687a3-df06-45ba-8efc-f58197919bba/930cf65f-2458-441d-8593-5c6db0c117bf/slick.css" />
	<link rel="stylesheet" href="/bundles/5f9615e8d51557e5beb5b99cb4c3f03c/6eb687a3-df06-45ba-8efc-f58197919bba/160ce82e-b5c2-48a4-b8af-2335373678eb/slick-theme.css" />
  	<style type="text/css">
  	.tituloSistema{
  		display:none;
	}
  
  	</style>
  	@Html.Template((ScriptorContent)@Model, "SegPedido_Referencias")

	<script src="/bundles/5f9615e8d51557e5beb5b99cb4c3f03c/9a02b174-c326-4108-905f-7b8baf72e135/bc1c7054-25d1-43d0-bf3a-0c48e6bc7f36/slick.min.js"></script>
  
  @Html.Raw(Model.Parts.ScriptorGoogleAnalytics)
  
}


<a style="display:none" href="@Html.Raw(Model.Parts.ErrorTemplate)" id="urlError"></a>
 
	@Html.Raw("@Html.Template(Common.ScriptorClient.GetChannel(new Guid(\""+guidLayout+"\")).Properties.Content, \"Extranet_Header\")")
  
 <div>
<div id="ContenedorBody" style="width: 100%; clear: both;;">
        <div>
            <div class="col-md-12 wrapper  @if (ViewBag.wrapperWidth == null)
                                 { @Html.Raw("wrapperMediano") }
                                 else
                                 { @ViewBag.wrapperWidth } " style="padding-top: 0px!important;padding-bottom: 0px!important;border: 0px!important">

               
                 
                        <div id="centro" class="contenido" style="border: 1px solid #0E75B5;">
                          <div class="left centrado anchoSlide" style="border: 1px solid black; background-color: #DCEDF7; width: 70%; height: 99%; position: relative" ng-show="$root.MostrarCarrusel==true">
                      
                              
                              <div id="banner" style="height:100%">
                      
                                 
                                  <div class="autoplay center" style="width: 94%; position: relative">
                                      <!------------------------------------------------------------------>
                                      @foreach(ScriptorContent content in Model.Parts.CarruselBanners)
                                      {
                                            <div>
                                              <h3>  
                                                  <img src="@content.Parts.imagen" title="@content.Parts.titulo" class="imgslick" />
                                              </h3>
                                            </div>
                                              
                                      }
                                      <!------------------------------------------------------------------>
                                     </div>
                      
                              </div>
                          </div>
                          <div class="right derecho anchoFrm">@*style="padding-top: 20px; padding-bottom: 20px; padding-left: 10px"*@
                                   @Html.Raw("@RenderBody()")
                          </div>
                      </div>
                   

            </div>
        </div>

    </div>
	   </div>
	@Html.Raw("@Html.Template(Common.ScriptorClient.GetChannel(new Guid(\""+guidLayout+"\")).Properties.Content, \"Extranet_Footer\")")
<script>
function corregirCarrusel()
{
                                   if($(".slick-slider").length>0)
                                   {
                                        $(".slick-slider")[0].style.height="100%";
                                        $(".slick-list")[0].style.height="100%";
                                   }
}
setTimeout(corregirCarrusel,1000);
                       
if($("#botonMenuResponsive"))
                                      {
$("#botonMenuResponsive").hide();
                                   }
</script>
                                        
                                    

    <!--Fin de Código Menu-->
                       

