@using Viatecla.Factory.Scriptor
@model ScriptorContent 

  @{
  int nroGrupoBootstrap=4;//((ScriptorContentInsert)Model.Parts.Campos).ToList().FindAll(x=>x.Parts.Oculto!="1").Count();
  int nroColumnasPorFila=0;
  string addclase="";
  string addclaseInput="";
  string nameModel = "";
  
  nameModel = String.IsNullOrEmpty(Model.Parts.Modelo)? nameModel : Model.Parts.Modelo;
  
  if(!String.IsNullOrEmpty(Model.Parts.Dimensiones.Value))
  {
  	if(Model.Parts.Dimensiones.Content.Parts.Descripcion=="1-1")
    {
    	nroGrupoBootstrap=12;
      	nroColumnasPorFila=1;
    }
    if(Model.Parts.Dimensiones.Content.Parts.Descripcion=="1-3")
    {
    	nroGrupoBootstrap=4;
      	nroColumnasPorFila=3;
    }
    if(Model.Parts.Dimensiones.Content.Parts.Descripcion=="1-4")
    {
    	nroGrupoBootstrap=3;
      	nroColumnasPorFila=4;
    }
    
    if(Model.Parts.Dimensiones.Content.Parts.Descripcion=="1-2")
    {
    	nroGrupoBootstrap=6;
      	nroColumnasPorFila=2;
    } 
    
  }
  else
  {
    
  }
  
  string ancholabel=";width:30%";
  string anchocaja=";width:68%";
  string anchoporcentajetotal = "100%";
  
  int i=0;
}

<form data-action="/" method="post" id="grForm_@Model.Id" enctype="multipart/form-data" action="#" class="DivContentForm" target="frmCriterioIframe" modelreferente="@(nameModel)">

<div class="container" style="width:100%">
  
      <div class="row" style="position:relative">
        <input data-optional="True" id="Channel" name="Channel" type="hidden" value="@Model.Id" />
  		
        @foreach(ScriptorContent reg in Model.Parts.Campos)
        {
            ancholabel=";width:30%";
  			 anchocaja=";width:68%";
          string esOculto =(reg.Parts.Oculto=="1"?"none":"block");
          string posicionBoots=(reg.Parts.Oculto=="1"?"":"col-md-"+nroGrupoBootstrap);
          double _anchoLabel=(double)(reg.Parts.AnchoLabel);
          string _anchoMaximo=reg.Parts.AnchoMaximo;
          string _FlgNoConsiderarObjeto=reg.Parts.FlgNoConsiderarObjeto;
          string anchoInput="";
          string dirDisabled = "ng-disabled";
          
          if(_anchoLabel>0.0F)
          {          
          	ancholabel=";width:"+_anchoLabel+"%";
            anchoInput=";width:"+(100-_anchoLabel-3)+"%";
            addclase="anchomodificado";
            addclaseInput="anchomodificadoInput";
          }
          if(!String.IsNullOrEmpty(_anchoMaximo))
          {
          	anchocaja=anchoInput+";"+_anchoMaximo;
          }
          
          if(i==nroColumnasPorFila && nroColumnasPorFila>0)
          {
          	@:</div>
            @:<div class="row" style="position:relative">
            i=1;
          }
          else
          {
            if(esOculto=="block")
            {
          		i=i+1;  
            }
          }
          if(reg.Parts.NroEspaciosFila!=null)
          {
            int _NroEspaciosFila= (int)reg.Parts.NroEspaciosFila;
          	if(_NroEspaciosFila>1)
          	{
            	i=i+1;
              	posicionBoots="col-md-"+(nroGrupoBootstrap*_NroEspaciosFila);
            }
          }
            
          
              
          string mensajeValidacionRequerido="";
          string idColumna=reg.Parts.IdColumna;
          string CodigoColumna=reg.Parts.IdColumna;
          string direccionCampo=(reg.Parts.Direction.Value=="auto"||reg.Parts.Direction.Value==""?"text-align:left":"text-align:"+reg.Parts.Direction.Value);
          string esObligatorio =reg.Parts.Obligatorio;
          
          string valDefecto="";
          string nombreColumna="";
          string nombreColDefault=reg.Parts.Nombre;
          string flgSoloLectura=reg.Parts.SoloLectura.ToString();
          string nombreColCliente="";
          string nombreColGrupo="";
          string codigoGrupoCentroDistrubicion = Convert.ToString(Session["CodigoGrupoCentroDistrubicion"]);
          string codigoCliente = Convert.ToString(Session["CodigoCliente"]);
          string mindate=""; string maxdate="";
          string strModel="$root.DatosFormulario"+nameModel+"."+idColumna;
          string strCodigoCampo="";
          
          
          string strCamposAsociados="";
          string filtro_url="";
          string filtro_titulo="";
          string attrConsiderarObjeto="";
          if(_FlgNoConsiderarObjeto=="1")
          { 
            attrConsiderarObjeto=" no-considerar="+_FlgNoConsiderarObjeto;
          }
          if(String.IsNullOrEmpty(reg.Parts.Ngclick)==true&&reg.Parts.TipoControl.Content.Parts.Codigo=="TC005")
          {
            string strCamposAsociados_aux= "";
            foreach(var campoasociado in reg.Parts.CampoAsociado)
            {
            	
              	if(campoasociado.Id==reg.Parts.CampoAsociado[reg.Parts.CampoAsociado.Count-1].Id)
                {
            strCamposAsociados_aux= strCamposAsociados_aux + "{Origen:'"+campoasociado.Parts.id_origen+"',Destino: '"+campoasociado.Parts.id_destino+"'}";
                }
                else
                {
                  strCamposAsociados_aux= strCamposAsociados_aux+ "{Origen:'"+campoasociado.Parts.id_origen+"',Destino: '"+campoasociado.Parts.id_destino+"'},";
                }
            }
            strCamposAsociados="["+strCamposAsociados_aux+"]";
           
            
          	foreach(var evento in reg.Parts.Eventos)
            {
            	if(evento.Parts.TipoEvento.Content.Parts.Codigo=="1")
                {
                  if(evento.Parts.PopupPaginaInterna.Count>0)
                  {
              		filtro_url=Url.ScriptorChannel(evento.Parts.PopupPaginaInterna[0] as ScriptorChannel).ToString();
                  	filtro_titulo=((ScriptorContent)evento.Parts.PopupPaginaInterna[0].Properties.Content).Title;
                  }
              	}
            }
          }
          string click_filtro = (String.IsNullOrEmpty(reg.Parts.Ngclick)?"BuscarGenerico_Click('DatosFormulario"+nameModel+"','"+idColumna+"',"+strCamposAsociados+",'"+filtro_url+"','"+filtro_titulo+"')":reg.Parts.Ngclick); 
               
          string valorPorDefecto="";
          string valorDataval = "false";
          if(esObligatorio=="1")
          {
          	mensajeValidacionRequerido = "data-val-required=\"Ingrese " + nombreColDefault + "\"";
            valorDataval = "true";
          }
            
          if(flgSoloLectura=="1" && esObligatorio=="1")
          {
			dirDisabled = "ng-readonly";
          }
            
          foreach(var elem1 in reg.Parts.MinDate)
          {
              mindate=(String.IsNullOrEmpty(elem1.Parts.IdColumna)?"":"control_min_date="+elem1.Parts.IdColumna);
          }
         
          foreach(var elem1 in reg.Parts.MaxDate)
          {
              maxdate=(String.IsNullOrEmpty(elem1.Parts.IdColumna)?"":"control_max_date="+elem1.Parts.IdColumna);
          } 
            
          if(reg.Parts.FlgValorFechaDefecto.ToString()=="1")
          {
          	  valorPorDefecto=DateTime.Now.AddDays(-1*int.Parse(reg.Parts.NroDiasPrevios.ToString())).ToShortDateString();
          }
          
          foreach (ScriptorContent clientesAsociados in reg.Parts.NombrePorCliente)
          {
            if(clientesAsociados.Parts.Cliente.Content.Parts.Codigo == codigoCliente)
            {
              nombreColCliente=clientesAsociados.Parts.NombreColumna;
              break;
            }
          }
            
          foreach (ScriptorContent gruposAsociados in reg.Parts.NombrePorGrupoCentroDistribucion)
          {
            if(gruposAsociados.Parts.GrupoCentroDistrubicion.Content.Parts.Codigo == codigoGrupoCentroDistrubicion)
            {
              nombreColGrupo=gruposAsociados.Parts.NombreColumna;
              break;
            }
          }
          if(String.IsNullOrEmpty(nombreColCliente))
          {
            if(String.IsNullOrEmpty(nombreColGrupo))
            {
              nombreColumna=nombreColDefault;
            }
            else
            {
              nombreColumna=nombreColGrupo;
            }
          }
          else
          {
            nombreColumna=nombreColCliente;
          }
          string atrSoloLectura="";
          atrSoloLectura= dirDisabled + "=(FlgHabilitarEdicion==false||$root.ObjetosFormulario"+ nameModel +".Interfaz.Disabled"+idColumna+")";
          string loadSoloLectura="";
          string loadSerValorDefault="";
         
          
          loadSoloLectura="$root.ObjetosFormulario"+ nameModel +".Interfaz.Disabled"+idColumna+"="+(flgSoloLectura=="1"?"true":"false");
          
          if (reg.Parts.TipoControl.Content.Parts.Codigo == "TC003"||reg.Parts.TipoControl.Content.Parts.Codigo == "TC006"||reg.Parts.TipoControl.Content.Parts.Codigo == "TC002"
            ||reg.Parts.TipoControl.Content.Parts.Codigo == "TC005"||reg.Parts.TipoControl.Content.Parts.Codigo == "TC007"||reg.Parts.TipoControl.Content.Parts.Codigo == "TC009"
            ||reg.Parts.TipoControl.Content.Parts.Codigo == "TC010" )
          {
          	loadSerValorDefault="$root.DatosFormulario"+nameModel+"."+idColumna+"= ($root.DatosFormulario"+nameModel+"."+idColumna+"==undefined?null:$root.DatosFormulario"+nameModel+"."+idColumna+")";
          }
            
          
          @:<div id="Campo@(idColumna)" ng-load="@loadSerValorDefault">
            
          if (reg.Parts.TipoControl.Content.Parts.Codigo == "TC003")
          {
            <div class="@posicionBoots" data-field-name="@idColumna" ng-load="@loadSoloLectura">
            <label for="@idColumna" class="@addclase" style="@ancholabel">@(nombreColumna+":")</label>
            <input  @atrSoloLectura ng-model="@(strModel)" class="InputTEXT_04Fecha @(addclaseInput)" 
              maxlength="900" type="text" name="@idColumna" value="@valorPorDefecto" id="@idColumna" data-val="@valorDataval" 
              placeholder="@nombreColumna" @maxdate @mindate @Html.Raw(mensajeValidacionRequerido) >
          
           
            @if(esObligatorio=="1")
            {
              <div class="caja11 msgerror @(idColumna)">
                <span class="field-validation-valid msgerror" data-valmsg-for="@idColumna" data-valmsg-replace="true" data-valmsg-replace="true"></span>
              </div>
            }
            </div>
          }
          if (reg.Parts.TipoControl.Content.Parts.Codigo == "TC006")
          {
              <div class="@posicionBoots" data-field-name="@idColumna" ng-load="@loadSoloLectura">
                      <label for="@idColumna"  style="@direccionCampo @ancholabel">@(nombreColumna+":")</label>
                      <select @(attrConsiderarObjeto)  @atrSoloLectura ng-model="$root.DatosFormulario@(nameModel).@(idColumna)" name="@idColumna" id="@idColumna" data-inputid="@idColumna" value="@valDefecto" @Html.Raw(mensajeValidacionRequerido)
                                data-val="@valorDataval"
                                ng-disabled="false"
                                data-bind="value: $root.DatosFormulario.@(idColumna)"
                                ng-options="lista.Codigo as lista.Nombre for lista in $root.ObjetosFormulario.Lista@(idColumna)"
                                class="InputSELECT_01" style="@anchocaja" >
                            <option value="" data-inputid="@idColumna">[Seleccione]</option>
                                  
                      </select>
                                  
                      @if(esObligatorio=="1")
                      {
                        <div class="caja11 msgerror @(idColumna)">
                          <span class="field-validation-valid msgerror" data-valmsg-for="@idColumna" data-valmsg-replace="true" data-valmsg-replace="true"></span>
                        </div>
                      }
              </div>
          }
          if (reg.Parts.TipoControl.Content.Parts.Codigo == "TC002")
          {
             <div class="@posicionBoots" data-field-name="@idColumna" style="display:@esOculto" ng-load="@loadSoloLectura">
                    <label for="@idColumna" class="@addclase" style="@direccionCampo @ancholabel">@(nombreColumna+":")</label>
                    <input @(attrConsiderarObjeto) @atrSoloLectura ng-model="$root.DatosFormulario@(nameModel).@(idColumna)" class="InputTEXT_01 @(addclaseInput)" style="@anchocaja" maxlength="900" type="text" name="@idColumna" id="@idColumna" value="" data-val="@valorDataval" placeholder="@nombreColumna" @Html.Raw(mensajeValidacionRequerido) > 
                  
                   @if(esObligatorio=="1")
                   {
                     <div class="caja11 msgerror @(idColumna)">
                		<span class="field-validation-valid msgerror" data-valmsg-for="@idColumna" data-valmsg-replace="true" data-valmsg-replace="true"></span>
              			</div>
                   }
                </div>
          }
          if (reg.Parts.TipoControl.Content.Parts.Codigo == "TC005")
          {
             <div class="@posicionBoots" data-field-name="@idColumna" style="display:@esOculto" ng-load="@loadSoloLectura">
                    <label for="@idColumna" class="@addclase" style="@direccionCampo @ancholabel">@(nombreColumna+":")</label>
                    <input @(attrConsiderarObjeto)  ng-readonly="true" ng-model="$root.DatosFormulario@(nameModel).@(idColumna)" class="InputTEXT_01 @(addclaseInput)" style="width:58%" maxlength="900" type="text" name="@idColumna" id="@idColumna" value="" data-val="@valorDataval" placeholder="@nombreColumna" @Html.Raw(mensajeValidacionRequerido)> 
                      
                    <div id="Div@(idColumna)" style="float:right"><input type="image" @atrSoloLectura id="btn@(idColumna)" ng-click="@click_filtro"  title="Buscar Servicio" class="imageButton" src="http://seguimientopedidos.ransa.net/bundles/5f9615e8d51557e5beb5b99cb4c3f03c/faffabed-c58a-4d3d-94e3-5237ee4668c4//images/buscar.png" style="border-width: 0px;"></div>
                      
                   @if(esObligatorio=="1")
                   {
                     <div class="caja11 msgerror @(idColumna)">
                      <span class="field-validation-valid msgerror" data-valmsg-for="@idColumna" data-valmsg-replace="true" data-valmsg-replace="true"></span>
                    </div>
                   }
                </div>
          }
                     
          if (reg.Parts.TipoControl.Content.Parts.Codigo == "TC007")
          {
             <div class="@posicionBoots" data-field-name="@idColumna" style="display:@esOculto" ng-load="@loadSoloLectura">
                    <label for="@idColumna" class="@addclase" style="@direccionCampo @ancholabel">@(nombreColumna+":")</label>
                    <input @(attrConsiderarObjeto) @atrSoloLectura ng-model="$root.DatosFormulario@(nameModel).@(idColumna)" class="@(addclaseInput)" type="checkbox" name="@idColumna" id="@idColumna" value="" data-val="@valorDataval" @Html.Raw(mensajeValidacionRequerido) >
                     
                   @if(esObligatorio=="1")
                   {
                     <div class="caja11 msgerror @(idColumna)">
                      <span class="field-validation-valid msgerror" data-valmsg-for="@idColumna" data-valmsg-replace="true" data-valmsg-replace="true"></span>
                    </div>
                   }
                       
                </div>
          }
          
          if (reg.Parts.TipoControl.Content.Parts.Codigo == "TC008")
          {
             <div class="@posicionBoots" data-field-name="@idColumna" style="display:@esOculto">
             </div>
          }
                      
          if (reg.Parts.TipoControl.Content.Parts.Codigo == "TC009")
          {
            <div class="@posicionBoots" data-field-name="@idColumna" style="display:@esOculto" ng-load="@loadSoloLectura">
                <label for="@idColumna" class="@addclase" style="@direccionCampo @ancholabel">@(nombreColumna+":")</label>     
            	<textarea @(attrConsiderarObjeto)  @atrSoloLectura ng-model="$root.DatosFormulario@(nameModel).@(idColumna)" name="@idColumna" id="@idColumna" style="width:@anchoporcentajetotal" rows="10" placeholder="@idColumna" data-val="@valorDataval" @Html.Raw(mensajeValidacionRequerido)></textarea>
                @if(esObligatorio=="1")
                {
                    <div class="caja11 msgerror @(idColumna)">
                      <span class="field-validation-valid msgerror" data-valmsg-for="@idColumna" data-valmsg-replace="true" data-valmsg-replace="true"></span>
                    </div>
                }
            </div>
          }
          
          if (reg.Parts.TipoControl.Content.Parts.Codigo == "TC001")
          {
            <div class="@posicionBoots" data-field-name="@idColumna" style="display:@esOculto" ng-load="@loadSoloLectura">
                     <label id="@idColumna" style="width:@anchoporcentajetotal">@(nombreColumna+":")</label>
            </div>
          }
          if (reg.Parts.TipoControl.Content.Parts.Codigo == "TC012")
          {
             <div class="campoPosicion @posicionBoots" data-field-name="@idColumna" style="display:@esOculto" ng-load="@loadSoloLectura">
                    <script>
                      MoverControles('#CampoMaestro@(idColumna)','#Campo@(idColumna)>.campoPosicion');
                  </script>
             </div>
                     
           
          }
           if (reg.Parts.TipoControl.Content.Parts.Codigo == "TC010")
          {
            <div class="@posicionBoots" data-field-name="@idColumna" style="display:@esOculto" ng-load="@loadSoloLectura">
            	<div id="ContentDatosAdjuntos" class="block_content">
             		<div class="forms3Adjunto">
             			<div style="display: block;">
             				<div class="block_menu2">
             					<button id="contfile@(idColumna)" @atrSoloLectura class="boton1Style boton1 SeparatorLeft">
             						<span class="boton1Span">
             							<img class="boton1Img csBtnAdjuntar" alt="Adjuntar Archivo" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/faffabed-c58a-4d3d-94e3-5237ee4668c4/Images/adjuntar_ico.png" style="position: relative;" />
             						</span>
             						<span class="boton1txt">Adjuntar Archivo</span>
             					</button>
             				</div>
             			</div>
             			<div class="form_section">
                        	<div class="forms2">
             					<div class="block_content2 block_listado">
               						<table class="TableStyle" cellspacing="0" cellpadding="0" ng-model="$root.DatosFormulario@(nameModel).@(idColumna)" rules="all" border="0" id="grv@(idColumna)" style="border-width: 0px; width: 100%; border-collapse: collapse;">
             							<thead>
	             							<tr>
             									<th scope="col">
                                                	<span>Nombre de documento</span>
                                                </th>
             									<th scope="col">
                                                	<span>Descargar</span>
                                                </th>
             									<th scope="col" style="width: 10px;">
                                                	<span>Quitar</span>
                                                </th>
             								</tr>
             							</thead>
             							<tfoot id="cargando_archivosCrearCotizacion">
                                        	<tr>
                                            	<td colspan="3">Cargando...</td>
                                            </tr>
                                        </tfoot>
                                        <tbody id="queue_archivosCrearCotizacion">
                                        </tbody>
             						</table>
             					</div>
             				</div>
             			</div>
             		</div>
             	</div>
            </div>
             
             /* Se quitó el código JS */
                                  
          }
			@:</div>
        }

      </div>
     
            

                  
    <div class="row">
    @foreach(var boton in Model.Parts.Eventos)
    {
        if(boton.Parts.TipoEvento.Content.Title=="Click")
        {
            @:<input type="submit" id="@boton.Parts.NombreEvento.ToString().Replace(" ","")" value="@boton.Parts.NombreEvento.ToString()"/>
            @:<script>
            @:$(function(){ 
            @:$("#@boton.Parts.NombreEvento.ToString().Replace(" ","")").click(function () {
            @:if(validateForm('#grForm_@(Model.Id)')==false)
            @:  return false;
          
            @:@foreach(var grilla in boton.Parts.GrillaActualizar)
            {
              @:CargarGrilla@(grilla.Parts.objgrilla)();
            }
              @:return false;
            @:});
            @:});
            @:</script>
          
        }
    }
    </div>

</div>
</form>

