@model ScriptorContent
@using Viatecla.Factory.Scriptor
@using System.Xml
@using GR.Scriptor.Frameworks

@{
    Layout = "Extranet_PaginaMaestraUsuarioLogeado";
    int ic = 0;
    string seccionName = "";
    string controllerForm = "";
    if (!String.IsNullOrEmpty(Model.Parts.ControladorAngular))
    {
        controllerForm = "ng-controller=" + Model.Parts.ControladorAngular + "";
    }
    string estiloAnchoMaximo = (String.IsNullOrEmpty(Model.Parts.AnchoMaximo) == false ? ";max-width:" + Model.Parts.AnchoMaximo : "");
    string estiloAltoMinimo = (String.IsNullOrEmpty(Model.Parts.AltoMinimo) == false ? ";min-height:" + Model.Parts.AltoMinimo : "");

    string urlcanalmaestro = "";
    string idcanalmaestro = "";
    string controladoraGenerica = "";
    string loadCanal = "";
    string tipoFormulario = Convert.ToString(Model.Parts.TipoFormulario.Value);
    string tituloDatosMaestros="";
    if (tipoFormulario == "personalizado")
    {
	
    }
    else if (tipoFormulario == "consultagenerica")
    {
        urlcanalmaestro = Url.ScriptorChannel(Model.Parts.CanalMaestro[0] as ScriptorChannel).ToString();
        idcanalmaestro = ((ScriptorChannel)Model.Parts.CanalMaestro[0]).Id.ToString();
        controladoraGenerica = "ng-controller=ConsultaGenericaController";
        loadCanal = "IdCanal='" + Model.Id + "';MiLoad();";
    }
    else if (tipoFormulario == "mantenimiento")
    {
        controladoraGenerica = "ng-controller=FormularioGenericoController";
        loadCanal = "IdCanal='" + Model.Channel.Id + "'";
    	tituloDatosMaestros=Model.Parts.TituloDatosMaestros;
    }
      if(String.IsNullOrEmpty(tituloDatosMaestros)==true)
      {
      	tituloDatosMaestros="Mantenimiento "+ Model.Title;
      }
}

<div ng-load="$root.TituloPagina='@(Model.Parts.es_pe__Titulo)'">
</div>

<div ng-controller="FormularioBaseController">
    <div @(controllerForm) class="block" style="@(estiloAnchoMaximo) @(estiloAltoMinimo)" canalMaestro="@urlcanalmaestro" ng-load="@loadCanal">
        <div>
            <div @(controladoraGenerica)>
                @foreach (ScriptorContent content in Model.Parts.Secciones)
                {
                    ic = ic + 1;
                    seccionName = "seccion-" + ic.ToString();
                    try
                    {
                    <div id="@(seccionName)">
                        @Html.Template((ScriptorContent)content)
                    </div> 
                    }
                    catch (Exception ex)
                    {
                    @Html.Raw(ex.Message + "<br/><br/>");
                    }
                }
                <div class="contenido clearfix ng-scope">


                    <div id="seccionD-1" class="paCargarDinamico">
                        @try
                        {
                            @Html.Template((ScriptorContent)Model, "Extranet_BotoneraGrabarClasica")
                
                            if (Model.Parts.CanalRegresar.Count > 0)
                            {
                            <a href="" class="paCargarDinamicoURL" style="display: none;" urlregresar="@Url.ScriptorChannel(Model.Parts.CanalRegresar[0] as ScriptorChannel)"></a>
                            }
                        }
                        catch (Exception ex)
                        {
                            <div mensaje="">@ex.Message</div>   
                        }
                        <div class="block_cab block_cab_active">
                            <h2>
                                <span>@tituloDatosMaestros</span></h2>
                            <h3><span></span></h3>
                            <div class="acordeon">
                            </div>
                        </div>
                        <div id="ContentListado" class="block_content">
                            <div class="form_section">
                                <div class="forms2">
                                    <form data-action="/formulario" method="post" id="grForm_86828d70-ba4e-4e54-b5bc-c60db6d0430f" enctype="multipart/form-data" action="#" class="DivContentForm" target="frmCriterioIframe">
                                        <!--<div>-->
                                        <div class="container" style="width: 100%">
                                            <div class="row" style="position: relative">
                                                @try
                                                {
                                                    @Html.Template((ScriptorContent)Model, "FormulariosScriptor")
                                                }
                                                catch (Exception ex)
                                                {
                                                    <div>ERROR MOSTRANDO TEMPLATE @(ex.Message)</div>
                                                }

                                            </div>
                                            <div class="row">
                                            </div>
                                        </div>
                                    </form>
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


