
<!DOCTYPE html>
  <!--[if lt IE 7]>
<html lang="es" class="no-js lt-ie9 lt-ie8 lt-ie7" ng-app="api" ng-controller="LayoutController"> <![endif]-->
<!--[if IE 7]>
<html lang="es" class="no-js lt-ie9 lt-ie8" ng-app="api" ng-controller="LayoutController"> <![endif]-->
<!--[if IE 8]>
<html lang="es" class="no-js lt-ie9" ng-app="api" ng-controller="LayoutController"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="es" class="no-js" ng-app="api" ng-controller="LayoutController">
 <link rel="stylesheet" href="/css/bootstrap/3.2.0/bootstrap.min.css"> 
<!--<![endif]-->
<!--[if lt IE 9]>
 <link rel="stylesheet" href="/css/bootstrap/3.2.0/bootstrap.min.css">  
 <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  
<style>     .container { width: 100%; } </style>
<![endif]-->

<head>
    <meta http-equiv="x-ua-compatible" content="IE=8,IE=9,IE=10,IE=11">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    @RenderSection("Meta", required: false)
    
    @RenderSection("Head", required: false)
    @RenderSection("Styles", required: false)
  
  
   	
<!--START TEMPLATE 71f46c18-9bb0-4bde-8f4e-4d6ec94a8387:1ceef37c-1b50-43d6-95ae-fb39baf85623:31cbf3b6-4abb-405a-aa69-a2a2828bc6d9:23341ad4-1591-49d9-b4e3-9f828a6f19a5:SegPedido_Referencias-->
<title>Seguimiento Pedidos @RenderSection("title", required: false)</title>
  <link rel="apple-touch-icon" sizes="57x57" href="http://seguimientopedidos.ransa.net/iconos/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="http://seguimientopedidos.ransa.net/iconos/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="http://seguimientopedidos.ransa.net/iconos/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="http://seguimientopedidos.ransa.net/iconos/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="http://seguimientopedidos.ransa.net/iconos/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="http://seguimientopedidos.ransa.net/iconos/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="http://seguimientopedidos.ransa.net/iconos/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="http://seguimientopedidos.ransa.net/iconos/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="http://seguimientopedidos.ransa.net/iconos/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="http://seguimientopedidos.ransa.net/iconos/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="http://seguimientopedidos.ransa.net/iconos/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="http://seguimientopedidos.ransa.net/iconos/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="http://seguimientopedidos.ransa.net/iconos/favicon-16x16.png">
<link rel="manifest" href="http://seguimientopedidos.ransa.net/iconos/manifest.json">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="msapplication-TileImage" content="http://seguimientopedidos.ransa.net/iconos/ms-icon-144x144.png">
<meta name="theme-color" content="#ffffff">
<meta name="application-name" content="Seguimiento Pedidos @RenderSection("title", required: false)">
  
  

<!----------->
<!--Estilos-->
<!----------->
<link rel="stylesheet" href="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/6eb687a3-df06-45ba-8efc-f58197919bba/930cf65f-2458-441d-8593-5c6db0c117bf/slick.css" />
<link rel="stylesheet" href="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/6eb687a3-df06-45ba-8efc-f58197919bba/160ce82e-b5c2-48a4-b8af-2335373678eb/slick-theme.css" />
  
<link rel="stylesheet" href="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/6eb687a3-df06-45ba-8efc-f58197919bba/e355aefa-2541-4997-9fcb-e7ff3da62130/jquery-ui-1.10.3.custom.min.css" />
<link rel="stylesheet" href="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/6eb687a3-df06-45ba-8efc-f58197919bba/d1aa0cd0-5d25-4b57-9626-387051be947c/ui.jqgrid.css" />
<link rel="stylesheet" href="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/6eb687a3-df06-45ba-8efc-f58197919bba/218e1438-2dcd-4aa5-bec6-022efc7fec85/multiple-select.css" />
<link rel="stylesheet" href="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/faffabed-c58a-4d3d-94e3-5237ee4668c4/d30dc4d8-c5cf-491a-aca7-ae97a242c08c/Site.css" />
<link rel="stylesheet" href="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/6eb687a3-df06-45ba-8efc-f58197919bba/3a280ac8-de9a-4b2e-aad3-0687c99acb7b/EasyTab.css" />
<link rel="stylesheet" href="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/6eb687a3-df06-45ba-8efc-f58197919bba/ce2b9a7f-ce0a-4e80-91fa-86b1a8025307/bootstrap.css" />
  
  <link rel="stylesheet" href="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/6eb687a3-df06-45ba-8efc-f58197919bba/a999921a-b88b-4d59-9fb4-edd700738238/bootstrap-modal.css" />
  <link rel="stylesheet" href="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/6eb687a3-df06-45ba-8efc-f58197919bba/5674340d-29b5-4b04-a1d5-2d8e69b7a452/bootstrap-modal-bs3patch.css" />
  
  
<!----------->
<!--scripts-->
<!----------->
  
  
  <!--ok-->   
<script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/1e590774-522b-42c4-810e-f111cfd69a15/jquery1.8.3.min.js" type="text/javascript" >
  </script>   
 <!-- test 
  <script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/d8d9c808-0bd8-40e5-87a2-9653cea04ddb/jquery-1.11.2.min.js" type="text/javascript" ></script>
   -->
<!--<script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/2cacb010-4032-45f7-a0d0-fa4443c670eb/moment.min.js" type="text/javascript" ></script>
  -->
  
<script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/5d0ce6d6-f08f-4d07-975f-d19c3cc9b062/grid.locale-es.js" type="text/javascript" ></script>

    
<script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/da9268a8-b4fe-4cb8-8ad3-d0db587ddded/from.js" type="text/javascript" ></script>
<script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/adf526ca-1c0f-4df8-b6e7-77cd0410d1d4/jquery.validate.min.js" type="text/javascript" ></script>
<script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/3497e3bf-43f0-4fc8-8cdc-f7d54babd4bb/jquery.validate.unobtrusive.min.js" type="text/javascript" ></script>
<!-- <script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/3d527e8a-410e-452a-b04a-3892c2a90dae/jquery.numeric.min.js" type="text/javascript" ></script> -->
  
  <!--ok-->


<script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/674c310e-5a2e-42d1-961f-35acfcfd1ed1/bootstrap.js" type="text/javascript" ></script>
  
  
<script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/a1ded822-bc11-40a8-8aa4-a2e375898279/jquery-ui-1.9.1.custom.js" type="text/javascript" ></script>
<script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/7fc2989c-94ef-45eb-9625-5aede9aac73d/jquery.ui.datepicker-es.js" type="text/javascript" ></script>
  
  <!--ok  -->
<script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/a6d1ee0d-5f5f-46ea-8077-1e35de56d2d5/jquery.maskedinput-1.2.2.js" type="text/javascript" ></script>

  
<script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/b7ba6f81-8b92-418c-95cc-174904c87cd8/jquery.format.1.05.js" type="text/javascript" ></script>
<script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/3263f458-5b73-441a-9c34-0ef40192ed17/jquery.jqGrid.js" type="text/javascript" ></script>
<script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/9b1ec46c-0016-4195-be07-4edb3147eea7/multiple-select.js" type="text/javascript" ></script>

<script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/a35e8963-d7f5-4dc9-91a5-c2851ca0331c/jquery.jqGrid.Generator.js" type="text/javascript" ></script>
<script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/5d0ce6d6-f08f-4d07-975f-d19c3cc9b062/grid.locale-es.js" type="text/javascript" ></script>
<script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/a3676af5-a86b-468f-904e-010c58d5bc4b/jquery.blockUI.js" type="text/javascript" ></script>

  <script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/55ce0e12-73f6-40ce-ad83-c2f1bff95e37/json2.min.js" type="text/javascript" ></script>
<script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/36be2a6d-da91-4bb8-b9d6-e984aa206dbd/e44fe60b-2292-4da4-81fb-cc5cd6c578ca/General.js" type="text/javascript" ></script>
  <script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/36be2a6d-da91-4bb8-b9d6-e984aa206dbd/811a5417-1d28-497a-ab39-229c30a2c9c3/Principal.js" type="text/javascript" ></script>
<script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/36be2a6d-da91-4bb8-b9d6-e984aa206dbd/92012616-1065-4038-9a2a-7799e4fe6c28/main.js" type="text/javascript" ></script>

<script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/e72c1d1d-70d7-4961-b82e-d4ce7c48bbe1/jquery.easytabs.min.js" type="text/javascript" ></script>

  <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
  <!--[if lt IE 9]><script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/e0568d64-deb4-483d-9f10-1d0f53965f42/ie8-responsive-file-warning.js"></script><![endif]-->
  <script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/81193dcd-610a-4abd-82e6-898520f958dc/ie-emulation-modes-warning.js"></script>
  
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/1fcbc3bb-2cd8-488b-a2a0-72e4645dc868/html5shiv.min.js"></script>
  <script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/2868130d-8003-484b-ad8c-5f6c09c5223c/respond.min.js"></script>
  <![endif]-->
  
<script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/bc1c7054-25d1-43d0-bf3a-0c48e6bc7f36/slick.min.js"></script>
  
  <script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/b2956d14-d48d-4a94-afe8-bff97a1a7f21/bootstrap-modalmanager.js"></script>
  <script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/4e8b9db0-d92e-4322-9b9b-c5bbe486f2e1/bootstrap-modal.js"></script>

  
  <!--ANGULAR NATIVO-NUEVO-->
    <script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/470c2997-9c32-4afc-a09c-5846608b4520/angular.js"></script>
    <script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/356cd9b9-fbb7-45c0-8cf7-98f058255b7b/angular-route.js"></script>
    <script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/516198b5-3968-4f97-a957-c148617be26b/angular-resource.js"></script>

  <!--
  CONFIGURACION ANGULAR
  -->
  
    <script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/36be2a6d-da91-4bb8-b9d6-e984aa206dbd/8659b1da-10a6-444c-b70f-2963f0a0517f/apps.js"></script>
    <script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/36be2a6d-da91-4bb8-b9d6-e984aa206dbd/307d88b5-efd1-4059-83e6-1201932368b8/routes.js"></script>

  
    <script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/d158ecda-3f52-4e5a-a14b-773354ac9a3a/3eb8525e-37cc-4602-b7d0-532ffc8b741a/enum.js"></script>
    <script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/d158ecda-3f52-4e5a-a14b-773354ac9a3a/86587f3f-6147-4d3c-8b76-a54c73fc6f28/helpers.js"></script>
    <script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/d158ecda-3f52-4e5a-a14b-773354ac9a3a/679ca249-aed1-4605-a842-a27daaa925da/parse-html.js"></script>
  
    
   <!--
  FIN CONFIGURACION ANGULAR
  -->
  
  <!--
  TU CODIGO
  -->
  <script src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/b37a83d3-bbd7-430e-98f0-8b93276007cb/91f3e66e-bc61-42e5-b729-4c83ce3bb65f/servicios-Conector.js"></script>
  
  <script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/68373827-dc35-4eac-98f0-e5e3b4e62a92/820cf902-7e3e-4d4b-86e9-de4671330138/controller-layoutcontroller.js"></script>
  <script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/68373827-dc35-4eac-98f0-e5e3b4e62a92/8749a694-ae46-483d-8a3d-c225cf848185/controller-homepagecontroller.js"></script>
  <script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/68373827-dc35-4eac-98f0-e5e3b4e62a92/04b95d14-f736-4e60-8670-d1ebbb825f95/controller-bienvenidos.js"></script>
  <script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/68373827-dc35-4eac-98f0-e5e3b4e62a92/622f5d04-071d-437d-bb66-2d76d195ced5/controller-formulariobase.js"></script>
  <script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/68373827-dc35-4eac-98f0-e5e3b4e62a92/0645ef6b-ea67-4ef6-8c4b-88f5350a317f/controller-formulariobasepopup.js"></script>
  
  <script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/68373827-dc35-4eac-98f0-e5e3b4e62a92/287a632f-5281-4de7-b4b1-1f70b2f808ff/controller-PaginasAngular.js"></script>
  
  <script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/68373827-dc35-4eac-98f0-e5e3b4e62a92/f3c84d3d-1595-403c-ae3a-73879f28b5c4/controller-notificaciones.js"></script>
  <script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/68373827-dc35-4eac-98f0-e5e3b4e62a92/73aebb37-4fce-43b6-82d4-66eee4c5e6d1/controller-pedidosIndividual.js"></script>
  
  <script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/68373827-dc35-4eac-98f0-e5e3b4e62a92/5de74f65-1230-4e85-989d-437b53748b36/controller-consultarPedidoIndividual.js"></script>
  
  
  <script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/68373827-dc35-4eac-98f0-e5e3b4e62a92/470cf793-0de7-4f58-8c3a-4da09e2aff24/controller-pedidoDetalle.js"></script>
  
  <script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/68373827-dc35-4eac-98f0-e5e3b4e62a92/44d7fba1-2024-47af-b6ef-ffdbf8e2cccb/controller-pedidoAnexo.js"></script>
  
  <script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/68373827-dc35-4eac-98f0-e5e3b4e62a92/191fd312-a466-40b1-b85a-36faa366c51b/controller-consultagenerica.js"></script>
  
    <script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/68373827-dc35-4eac-98f0-e5e3b4e62a92/b65f0181-2b47-442e-a47f-3b96068a45c9/controller-formularioGenerico.js"></script>
    
  <script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/manager/bundles/d41d8cd98f00b204e9800998ecf8427e/68373827-dc35-4eac-98f0-e5e3b4e62a92/d7340b5a-5bb8-4864-95e6-6fec0e6145d4/controller-cargaMasivaPedidoIndividual.js"></script>
  
  <script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/68373827-dc35-4eac-98f0-e5e3b4e62a92/67fcdf6b-3a74-4dc6-8c00-1d38b5d4a342/controller-TipoPedido.js"></script>
  	
  <script type="text/javascript" src="/bundles/d41d8cd98f00b204e9800998ecf8427e/68373827-dc35-4eac-98f0-e5e3b4e62a92/a3f32b51-f958-4481-8abf-dd48f73a9a81/controller-Maestros.js"></script>
  
  
  
  
  
<script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/d158ecda-3f52-4e5a-a14b-773354ac9a3a/00a6f2f0-e4d9-4364-9fe7-d9ced6bf7e59/ng-load.js"></script>
  <script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/d158ecda-3f52-4e5a-a14b-773354ac9a3a/68485c24-1650-4cca-b66e-65238dbd81ad/ng-click.js"></script>
    
  <script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/d158ecda-3f52-4e5a-a14b-773354ac9a3a/269a0ec2-3c8b-49de-9efe-6f290b7427ce/ng-jqgrid.js"></script>
  <script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/d158ecda-3f52-4e5a-a14b-773354ac9a3a/c9824adc-a59c-4705-991e-422ba85930cc/ng-jqgridscriptor.js"></script>
  
  
  
  
  
  <script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/d158ecda-3f52-4e5a-a14b-773354ac9a3a/422e2f50-7d45-4a03-a357-22d8be6e3378/ng-focus.js"></script>
  
  <script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/d158ecda-3f52-4e5a-a14b-773354ac9a3a/b299c0a4-bbef-4dd9-96c9-23b01a7319af/ng-enter.js"></script>
  
  	
 
<script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/342a2787-c683-4f91-8d25-6cb0058a7fb2/jquery.ui.widget.js"></script>
<script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/01ebae32-b26e-4c6e-8260-5d8a3b98817e/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/0aedc0b2-b3de-407f-acec-3ad7e980429d/jquery.fileupload.js"></script>
<script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/95649ae8-4f47-4743-9cce-29db62c0271d/jquery.fileupload-angular.js"></script>
<script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/5bd73e6a-04d1-4e0c-b33b-65247c56c642/jquery.fileupload-process.js"></script>
<script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/88034b1c-de97-402a-a4a8-ab6551ca6e57/jquery.fileupload-image.js"></script>
<script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/ff0e9595-edce-4eb2-b4f4-c26f6a3d1fbf/jquery.fileupload-validate.js"></script>
<script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/9b7b7330-bf5a-415b-bc4e-7bcc8123da48/jquery.fileupload-jquery-ui.js"></script>
<script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/1f198a51-b382-4796-8664-7a17e8e68e90/jquery.fileupload-ui.js"></script>
  <script type="text/javascript" src="http://seguimientopedidos.ransa.net/bundles/d41d8cd98f00b204e9800998ecf8427e/9a02b174-c326-4108-905f-7b8baf72e135/ce6be38b-1efd-49cf-9e8d-9cada3962d5c/ajax_upload.js"></script>
  
  

  	
  <!--
  FIN TU CODIGO
  -->
  

<!--END TEMPLATE 71f46c18-9bb0-4bde-8f4e-4d6ec94a8387:1ceef37c-1b50-43d6-95ae-fb39baf85623:31cbf3b6-4abb-405a-aa69-a2a2828bc6d9:23341ad4-1591-49d9-b4e3-9f828a6f19a5:SegPedido_Referencias-->

  


</head>
<body style="background-color: #F2EEED;display:block;margin:8px!important" style="height:725px;">
  <div class="contenido" style="">
  <!--
   <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
          </ul>
        </div>
      </div>
    </nav>
  -->
  
 
 
	@Html.Template(Common.ScriptorClient.GetChannel(new Guid("68A9CCA7-C327-41D2-8828-9FD8FECF12EA")).Properties.Content, "Extranet_Header")

  	<a id="paginainicio" href="/es-PE/sistema/bienvenido" style="display:none;">aaa</a>
    
	<a style="display:none" href="/es-PE/pagina-de-error" id="urlError"></a>
  
  	<script>var numfilas=10</script>
  	
      <div id="ContenedorBodyMenu" class="divautenticado" style="width: 100%; clear: both; display:none;">
        <div>
            <div class="wrapper wrapperMediano col-md-12" style="padding-top: 0px!important;padding-bottom: 0px!important;border: 0px!important">
	
            </div>
        </div>
    </div>
  
    <div id="ContenedorBody" class="divautenticado" style="width: 100%; clear: both;">
        <div>
            <div class="wrapper wrapperMediano col-md-12" style="padding-top: 0px!important;padding-bottom: 0px!important;border: 0px!important">
				@RenderBody()
            </div>
        </div>
    </div>
    
    @Html.Template(Common.ScriptorClient.GetChannel(new Guid("68A9CCA7-C327-41D2-8828-9FD8FECF12EA")).Properties.Content, "Extranet_Footer")

    
  	
    <!--Código Menu-->
    <script type="text/javascript">
        $(function(){
            datosMenu={
                idChannelMenu:'f82150b4-e905-4013-89ea-9a4383e98276',
                urlMenu:'/SeguridadLocal/MenuPrincipal'
            };
  			$.getScript( datosMenu.urlMenu+"?GUIDChannel="+encodeURIComponent(datosMenu.idChannelMenu), function( data, textStatus, jqxhr ) {
              //console.log( "Menu was performed." );
            });
        });
  
  function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
        vars[key] = value;
    });
    return vars;
}


    </script>
 
    <!--Fin de Código Menu-->
  	@RenderSection("Scripts", false)
  
  </div>
</body>
</html>
