@using Viatecla.Factory.Scriptor
@model ScriptorContent
@{
  Layout=null;
  ViewBag.Usuario=Session["usuario"];
  ScriptorContent mimodel1 = Model;//Common.ScriptorClient.GetChannel(new Guid("68A9CCA7-C327-41D2-8828-9FD8FECF12EA")).Properties.Content;
  string logo = Model.Parts.Logo.ToString().Trim();
  var HomePage= Common.ScriptorClient.GetChannel(new Guid("76BA62DA-ECA1-458C-AC75-A660EA4C74C7")).Properties.Content;   
  string colorPrincipal = HomePage.Parts.ColorPrincipal.ToString();
  string colorDatosUsuario = HomePage.Parts.ColorPrincipal.ToString();
  string ColorCabeceraSeccion = HomePage.Parts.ColorCabeceraSeccion.ToString();
  string ColorTexto = HomePage.Parts.ColorTexto.ToString();
  string colorBoton = HomePage.Parts.ColorBotones.ToString();
  string colorGrilla = HomePage.Parts.ColorGrilla.ToString();
  string codigoCliente = "";
  string codigoGrupoCliente = "";

  if(Session["CodigoGrupoCliente"]!= null)
  {
      codigoGrupoCliente = Session["CodigoGrupoCliente"].ToString();
      Guid? idCanalGrupoCliente = new Guid("475077F2-4D02-4045-8FC5-84C4EF6135C6");
      ScriptorClient scriptorClient = Common.ScriptorClient;// new ScriptorClient(); //nuevo cliente para evitar uso de cache
      ScriptorChannel canalGrupoCliente = scriptorClient.GetChannel(idCanalGrupoCliente.Value); //usar el nuevo cliente
      var ListaGrupoClienteScriptor = canalGrupoCliente.QueryContents("Codigo", codigoGrupoCliente, "=").ToList();
      if (ListaGrupoClienteScriptor.Count > 0)
      {
          var contenido = ListaGrupoClienteScriptor[0];
          //Si tienes tema para Grupoclientes
           if(!String.IsNullOrEmpty(contenido.Parts.ColorPrincipal.ToString()))
          {
            colorPrincipal = contenido.Parts.ColorPrincipal.ToString();
             colorDatosUsuario = contenido.Parts.ColorPrincipal.ToString();
          }
           if(!String.IsNullOrEmpty(contenido.Parts.ColorCabeceraSeccion.ToString()))
          {
            ColorCabeceraSeccion = contenido.Parts.ColorCabeceraSeccion.ToString();
          }
          if(!String.IsNullOrEmpty(contenido.Parts.ColorTexto.ToString()))
          {
            ColorTexto = contenido.Parts.ColorTexto.ToString();
          }
            if(!String.IsNullOrEmpty(contenido.Parts.ColorBotones.ToString()))
          {
            colorBoton = contenido.Parts.ColorBotones.ToString();
          }
          
          if(!String.IsNullOrEmpty(contenido.Parts.ColorGrilla.ToString()))
          {
            colorGrilla = contenido.Parts.ColorGrilla.ToString();
          }
            if(!String.IsNullOrEmpty(contenido.Parts.Logo.ToString()))
          {
            logo = contenido.Parts.Logo.ToString().Trim();
          }
	  }
  	
  }
  
  if(Session["CodigoCliente"]!= null)
  { 
      codigoCliente = Session["CodigoCliente"].ToString();
      Guid? idCanalClientes = new Guid("84843A17-EFFD-42B6-B97C-8540BD3183EE");
      ScriptorClient scriptorClient = Common.ScriptorClient;// new ScriptorClient(); //nuevo cliente para evitar uso de cache
      ScriptorChannel canalClientes = scriptorClient.GetChannel(idCanalClientes.Value); //usar el nuevo cliente
      var ListaClientesScriptor = canalClientes.QueryContents("Codigo", codigoCliente, "=").ToList();
     	
      if (ListaClientesScriptor.Count > 0)
      {
          var contenido = ListaClientesScriptor[0];
      
          //Si tienes tema para grupoCliente
          ScriptorContent grupoCliente = contenido.Parts.GrupoCliente.Content;
          if(!String.IsNullOrEmpty(grupoCliente.Parts.ColorPrincipal.ToString()))
          {
            colorPrincipal = grupoCliente.Parts.ColorPrincipal.ToString();
             colorDatosUsuario = grupoCliente.Parts.ColorPrincipal.ToString();
          }
          if(!String.IsNullOrEmpty(grupoCliente.Parts.ColorCabeceraSeccion.ToString()))
          {
            ColorCabeceraSeccion = grupoCliente.Parts.ColorCabeceraSeccion.ToString();
          }
          if(!String.IsNullOrEmpty(grupoCliente.Parts.ColorTexto.ToString()))
          {
            ColorTexto = grupoCliente.Parts.ColorTexto.ToString();
          }
          if(!String.IsNullOrEmpty(grupoCliente.Parts.ColorBotones.ToString()))
          {
            colorBoton = grupoCliente.Parts.ColorBotones.ToString();
          }
          
          if(!String.IsNullOrEmpty(grupoCliente.Parts.ColorGrilla.ToString()))
          {
            colorGrilla = grupoCliente.Parts.ColorGrilla.ToString();
          }
          if(!String.IsNullOrEmpty(grupoCliente.Parts.Logo.ToString()))
          {
            logo = grupoCliente.Parts.Logo.ToString().Trim();
          }
      
          //Si tienes tema para clientes
           if(!String.IsNullOrEmpty(contenido.Parts.ColorPrincipal.ToString()))
          {
            colorPrincipal = contenido.Parts.ColorPrincipal.ToString();
             colorDatosUsuario = contenido.Parts.ColorPrincipal.ToString();
          }
           if(!String.IsNullOrEmpty(contenido.Parts.ColorCabeceraSeccion.ToString()))
          {
            ColorCabeceraSeccion = contenido.Parts.ColorCabeceraSeccion.ToString();
          }
          if(!String.IsNullOrEmpty(contenido.Parts.ColorTexto.ToString()))
          {
            ColorTexto = contenido.Parts.ColorTexto.ToString();
          }
            if(!String.IsNullOrEmpty(contenido.Parts.ColorBotones.ToString()))
          {
            colorBoton = contenido.Parts.ColorBotones.ToString();
          }
          
          if(!String.IsNullOrEmpty(contenido.Parts.ColorGrilla.ToString()))
          {
            colorGrilla = contenido.Parts.ColorGrilla.ToString();
          }
            if(!String.IsNullOrEmpty(contenido.Parts.Logo.ToString()))
          {
            logo = contenido.Parts.Logo.ToString().Trim();
          }
         
      }

  }
}
  <style type="text/css">

              .nav>li{
          background-color: @(colorPrincipal) !important
            }
    .head_fila {
        background-color: @colorDatosUsuario !important
    }
  	#menuuser {
   background-color: @colorDatosUsuario !important
	}
  
  .block .block_cab, .block .block_content, .block .block_head .bheadl, .block .block_head .bheadr, .block .block_menu, .block_content2, .block_menu2 {
  border-right: 1px solid @ColorCabeceraSeccion !important
}
  #footer, .block .block_cab, .block .block_content, .block .block_head .bheadl, .block .block_menu, .block_content2, .block_menu2 {
   border-left: 1px solid @ColorCabeceraSeccion !important; 
}
  .block .block_cab, .block .block_content, .block .block_head, .block .block_menu, .block_menu2 {
  border-top: 1px solid @ColorCabeceraSeccion !important;
}
  .block_cab_active {
  background: repeat-x @ColorCabeceraSeccion !important;
}

.DivContentForm input[type=button], .DivContentForm input[type=submit], .mboton {
    background: @colorBoton !important;
   	color: white !important;
}
  .slick-next,
  .slick-prev {
  background-color: @colorBoton !important
}
  .DivContentForm input[type=button], .DivContentForm input[type=submit], .mboton {
  background: @colorBoton !important
}
  .ui-jqgrid .ui-state-default, ui-jqgrid .ui-widget-header .ui-state-default, ui-jqgrid.ui-widget-content .ui-state-default {
  background: @colorGrilla !important;
  color: #fff;
  }
          
             .navbar-default 
        {
          background-color: transparent!important;
        }
          
 .nav > li > a:hover, .nav > li > a:focus {
          color: @ColorTexto !important;
 
 }
        
  	</style>
  
<div id="header" class="wrapper wrapperMediano col-md-12" style="overflow: visible;padding-top: 0px!important;padding-bottom: 0px!important;border: 0px!important">
      <div class="block" style="background-color: white">
            <div class="block_head">
                <div class="bheadl">
                    <div class="">
                      <a ng-href="/" target="_self">
                              <img id="tramarsa_logo" src="@logo"  alt="" />
                      </a>
                    </div>
                </div>
            </div>
            <div class="contend_menu">
                  <div class="menu" style="background-color: @colorPrincipal ">
                        <div class="boton_act menuespaciotop2">
                            <a class="tituloSistema" href="/">@Html.Raw(@mimodel1.Parts.Titulo)</a>
                        </div>
          
          				<div class="navbar-default navbar-header">
                            <button id="botonMenuResponsive" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menudesplegable" aria-expanded="false" aria-controls="menudesplegable">
                              <span class="sr-only">Toggle navigation</span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                            </button>
            			</div>
          
          				<div id="menuresponsive" style="display:none;min-height:200px;width:100%">
          	
        				</div>
                        <div id="menudesplegable" class="menuespaciotop navbar-collapse collapse" data-example-id="simple-nav-pills" >
                        </div>
                         
          			
                        <div class="SeparatorLeft2" style="display:none;">
                              <div class="head_form">
                                  <div class="head_fila menupadding" style="text-align: right; cursor: pointer">
                                    <span class="ui-icon ui-icon-triangle-1-s" style="float: right;"></span><span class="ui-icon ui-icon-person"></span>
                    
                                  </div>
                                  <div id="menuuser">
                                   <!------------------------------------------------------------------>
                                   
                                   <!------------------------------------------------------------------>
                                 </div>
                              </div>
                         </div>
                   </div>
             </div>
      </div>
</div>
 
<script>
          
         $("#botonMenuResponsive").click(function() {
                      var contenedorBody =  $("#ContenedorBody").find(".wrapper.wrapperMediano.col-md-12");
                      var contenedorBodyMenu =  $("#ContenedorBodyMenu").find(".wrapper.wrapperMediano.col-md-12");
                      var menu = $("#menuresponsive ul");
                      if(contenedorBody.css("display") == "none")
                      {
                           contenedorBody.show();
                           contenedorBodyMenu.hide()
                      }
                      else
                      {
                           	contenedorBody.hide();
                            if(contenedorBodyMenu.find("ul").length<=0)
                            {
                                 menu.attr("style","width:100%;border:1px solid @(colorPrincipal) !important;background-color:white;color:@(colorPrincipal)!important");
              					 menu.attr("id","contenido_menuresponsive");
                                 menu.find("li").width('100%');
                                 menu.clone().appendTo(contenedorBodyMenu);
                            }
                            contenedorBodyMenu.show();
                            //$(".SeparatorLeft2").hide();
                            $("#ContenedorBodyMenu").show();
                      }
          
        });
</script>
