@model ScriptorContent
@using Viatecla.Factory.Scriptor
@using System.Xml
@using GR.Scriptor.Frameworks

@{
                            List<ScriptorAtributo> propiedadesContenidos = new List<ScriptorAtributo>();
                            ScriptorContent primerContenido = null;
                            if (Request.QueryString["idc"] == null)
                            {
                                primerContenido = Model.Channel.Parent.Contents.FirstOrDefault();
                            }
                            else
                            {
                                primerContenido = Model.Channel.Parent.QueryContents("#Id", Request.QueryString["idc"].ToString(), "=").ToList().FirstOrDefault();
                            }
                            String idPrimerContenido = primerContenido.Id.ToString();
                            String idCanal = primerContenido.Channel.Id.ToString();
                                        
                            Scriptor.scrEdit objScriptor = new Scriptor.scrEdit(System.Configuration.ConfigurationManager.AppSettings["Viatecla.Factory.Scriptor.ConnectionString"].ToString(), "anonimo", String.Empty, "/scrEdit.log");
                            XmlNode nodeResult = objScriptor.getContentViewXML(idCanal, idPrimerContenido, "pt", "1");
                            XmlTextReader reader = new XmlTextReader(new System.IO.StringReader(nodeResult.InnerXml));
                            ScriptorAtributo itemScriptorAtributo = new ScriptorAtributo();
                                            
                             while (reader.Read())
                            {
                                switch (reader.NodeType)
                                {
                                    case XmlNodeType.Element:
                                        itemScriptorAtributo = new ScriptorAtributo();
                                        itemScriptorAtributo.IdCampo = reader.GetAttribute("id");
                                        if (String.IsNullOrEmpty(itemScriptorAtributo.IdCampo) == false)
                                        {
                                            itemScriptorAtributo.Tipo = reader.GetAttribute("field_type");
                                            itemScriptorAtributo.Nombre = reader.GetAttribute("name");
                                            itemScriptorAtributo.Descripcion = reader.GetAttribute("txt_description");
                                            itemScriptorAtributo.ValorCombo = reader.GetAttribute("txt_content_field_list");
                                            itemScriptorAtributo.ValorDefecto = reader.GetAttribute("txt_default_value");
                                            itemScriptorAtributo.CantidadCaracteres = reader.GetAttribute("n_db_size");
                                            itemScriptorAtributo.Orden = reader.GetAttribute("n_order");
                                            itemScriptorAtributo.NombreFormulario = reader.GetAttribute("prompt");
                                            itemScriptorAtributo.EsOpcional = reader.GetAttribute("b_optional");
                                        }
                                        break;
                                    case XmlNodeType.Text:
                                        
                                        itemScriptorAtributo.Otros = new
                                        {
                                            Valor = reader.Value
                                        };
                                        if (Request.QueryString["idc"] == null)
                                        {
                                            itemScriptorAtributo.Otros = new
                                            {
                                                Valor = ""
                                            };
                                        }
                                        propiedadesContenidos.Add(itemScriptorAtributo);
                                        break;
                                    case XmlNodeType.EndElement:
                                        break;
                                    case XmlNodeType.CDATA:
                                        
                                        if (reader.Value != null)
                                        {
                                            itemScriptorAtributo.Otros = new
                                            {
                                                Valor = reader.Value
                                            };
                                        
                                            if (Request.QueryString["idc"] == null)
                                            {
                                                itemScriptorAtributo.Otros = new
                                                {
                                                    Valor = ""
                                                };
                                            }
                                            propiedadesContenidos.Add(itemScriptorAtributo);
                                        }
                                        break;
                                        
                                }
                                        
                            }                  
                           
      										
                                                              
      
                            if (propiedadesContenidos.Count > 0)
                            {
                                foreach (ScriptorAtributo item in propiedadesContenidos)
                                {
                                    string atrSoloLectura="ng-disabled=(FlgHabilitarEdicion==false||$root.ObjetosFormulario.Interfaz.Disabled"+item.Nombre+")";
          							string loadSoloLectura="$root.ObjetosFormulario.Interfaz.Disabled"+item.Nombre+"=false";
          							string datavalrequired="";
                                  	string hayvalidaciones="false";
                                  	if(item.EsOpcional=="0")
                                    {
                                  		hayvalidaciones="true";
                                  	}
                                    @:<div ng-load="GrabarElemento('@item.Nombre','@item.Otros.Valor')">
                                    @:</div>
                                                                                                            
                                                    
                                    if (item.Tipo == "title" || item.Tipo == "textline")
                                    {
                                      	datavalrequired="Ingrese el "+item.NombreFormulario;
                                        //Textbox Input
                                        <div class="col-md-4" data-field-name="$root.DatosFormulario.@item.Nombre" style="display:block" ng-load="@loadSoloLectura">
                                            <label for="@item.Nombre" style="text-align:left ;width:30%">@item.NombreFormulario:</label>
                                            <input @atrSoloLectura class="InputTEXT_01" ng-model="$root.DatosFormulario.@item.Nombre" style="width: 68%; color: rgb(128, 128, 128);" maxlength="900" type="text" name="$root.DatosFormulario.@item.Nombre" id="@item.Nombre" value="@item.Otros.Valor" data-val="@hayvalidaciones" placeholder="@item.Descripcion" data-val-required="@datavalrequired">
                                        </div>
                                        <div class="caja11 msgerror @item.Nombre">
                                            <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.@item.Nombre" data-valmsg-replace="true"></span>
                                        </div>
                              
                                    }
                                     if (item.Tipo == "dropdownlist")
                                    {
                                            datavalrequired="Seleccione el "+item.NombreFormulario;
                                            //Combobox Combobox 
                                            <div class="col-md-4" data-field-name="$root.DatosFormulario.@item.Nombre" style="display:block;" ng-load="@loadSoloLectura">
                                                <label for="$root.DatosFormulario.@item.Nombre" style="text-align:left ;width:30%">@item.NombreFormulario:</label>
                                                <select  @atrSoloLectura ng-model="$root.Item.@item.Nombre" value="@item.Otros.Valor" data-val-required="@datavalrequired">
                                                        @if (item.ValorCombo != null)
                                                         {
                                                            string[] valores = item.ValorCombo.Replace("|||", "|").Split(';');
                                                            if (valores.Length > 0)
                                                            {
                                                                foreach (string elemento in valores)
                                                                {
                                                                    string[] dataCombo = elemento.Split('|');
                                                                    if (dataCombo.Length > 1)
                                                                    {
                                                                        string codigo = dataCombo[0];
                                                                        string descripcion = dataCombo[1];
                                                                        <option value="@codigo">@descripcion</option>
                                                                    }
                                                                }
                                                           }                                                                  
                                                         }                                                        
                                                          </select>
                                                                  <div class="caja11 msgerror @item.Nombre">
                                                                          <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.@item.Nombre" data-valmsg-replace="true"></span>
                                                                  </div>             
                                                         </div>
                                                                           
                                                    }
                                                    if (item.Tipo == "html")
                                                    {
                                                        //Editor HTML     
                                                        <div class="col-md-12" data-field-name="@item.Nombre" style="display:block">
                                                            <label for="$root.DatosFormulario.@item.Nombre" style="text-align:left ;width:30%">@item.NombreFormulario:</label>
                                                            <main>
                                                                                                                              <div>
                                                                                                                                  <div class="grid-container">
                                                                                                                                      <div class="grid-width-100" ng-load="@loadSoloLectura">                                                                      															
                                                                                                                                            <textarea @atrSoloLectura name="editor" ck-editor="editorOptions" ng-model="$root.DatosFormulario.@item.Nombre"></textarea>
                                                                                                                                      </div>
                                                                                                                                  </div>
                                                                                                                               </div>
                                                                                                                        </main>
                                                        </div>
                                                <div class="caja11 msgerror @item.Nombre">
                                                        <span class="field-validation-valid msgerror" data-valmsg-for="$root.DatosFormulario.@item.Nombre" data-valmsg-replace="true"></span>
                                                </div>
                                                                      
                                                                           
                                                    }
                                                    
                                }
                            }  
}

